<mat-card>
    <h1>{{formType}}</h1>
    <form #studentform="ngForm">
      <div class="example-container">
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Math</mat-label>
              <input matInput placeholder="grade between 0-100"
                [(ngModel)] = "math"
                name = "math"
                type = "number"
                min = "0"
                max = "100"
                required>
            </mat-form-field>
          </p>
          <mat-error><p *ngIf = "isErrorMat">grade must be 0-100</p></mat-error>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psycho</mat-label>
              <input matInput placeholder="grade between 0-800"
                [(ngModel)] = "psycho"
                name = "psycho"
                type = "number"
                min = "0"
                max = "800"
                required>
            </mat-form-field>
          </p>
          <mat-error><p *ngIf = "isErrorpsy">grade must be 0-800</p></mat-error>
          <p>
            <mat-form-field appearance="fill">
                <mat-label>Is The Student Paid?</mat-label>
                <mat-select place-holder = "payment" [(ngModel)] = "payment" name = "payment" required>
                    <mat-option value=Yes>Yes</mat-option>
                    <mat-option value=No>No</mat-option>
                </mat-select>
                </mat-form-field>
          </p>
        <div>
            <button mat-raised-button (click) = "tellParentToClose()">
                Cancel
            </button>
            <button mat-raised-button color="primary" (click) = "updateParent()" [disabled]="!studentform.form.valid">
              {{formType}}
            </button>
        </div>
      </div>
    </form>
  </mat-card>
    