<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<p *ngIf = "!(authService.getUser()|async)">For enter to the application you must log in or sign up</p>
<div *ngIf = "(authService.getUser()|async)">
<div>
  <button mat-raised-button color = "primary" (click) = "addStudentFormOpen = !addStudentFormOpen">Add Student</button>
</div>
<div>
  <studentform *ngIf = "addStudentFormOpen"
  (update) = "add($event);addStudentFormOpen = false"
  (closeEdit) = "addStudentFormOpen = false"
  [formType] = "'Add Student'"
  >
  </studentform>
</div>
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Student ID : 
         {{student.id}}
        </mat-panel-title>
        <mat-panel-description>
          </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
         
      </mat-expansion-panel-header>
      <p>Math:{{student.math}},
        Psycho:{{student.psycho}},
        Payment:{{student.payment}}</p>
      <button *ngIf = "!student.result" mat-raised-button color="accent" (click)="predict(i)">Predict</button>
      <button *ngIf = "student.result&&!student.saved" mat-raised-button color="primary"(click) = "updateResult(i)">Save</button>
      <button mat-raised-button disabled *ngIf = "student.saved">saved</button> 
      
 
    </mat-expansion-panel>
  </mat-accordion>

</div>